.body {
  @apply flex flex-col gap-4 p-4;

  .loading {
    @apply w-full;
    @apply text-stone-600;
    @apply font-bold;
    @apply text-xl;
    @apply text-center;
    @apply animate-pulse;
  }

  .noMovie {
    @apply text-xl;

    h2 {
      @apply mb-4;
      @apply font-bold;
      @apply text-2xl;
    }

    ul {
      @apply mt-2;
      @apply flex flex-col gap-2;
      @apply list-disc;
      @apply list-inside;
    }
  }

  .noFound {
    @apply font-bold;
    @apply text-3xl;
  }

  .movie {
    @apply flex flex-col gap-4;
    @apply p-4;
    @apply border border-orange-900;
    @apply rounded-md;

    .movieHeader {
      @apply flex flex-col gap-2;

      .title {
        h2 {
          @apply font-bold;
          @apply text-2xl;
        }
      }

      .nyTimes {
        @apply flex flex-row justify-between;

        a {
          @apply underline;
        }

        p {
          @apply font-bold;
        }
      }

      .userActions {
        @apply flex flex-row justify-between;
      }
    }

    .moviePoster {
      @apply flex justify-center;
      @apply w-full;
      @apply h-max;
      @apply bg-stone-600;
      @apply rounded-md;

      img {
        @apply w-full;
        @apply h-full;
        @apply object-contain;
        @apply rounded-md;
      }
    }

    .movieInfo {
      @apply flex flex-col gap-2;

      section {
        @apply p-4;
        @apply rounded-md border border-orange-900;

        h3 {
          @apply font-bold;
        }
      }
    }

    .movieRatings {
      h3 {
        @apply font-bold;
        @apply text-xl;
      }

      ul {
        @apply flex flex-col gap-2;
        @apply mt-4;
        @apply list-disc;
        @apply list-inside;

        li {
          @apply flex flex-row justify-between;

          .ratingSource {
            @apply font-bold;
          }

          .ratingValue {
            @apply italic;
          }
        }
      }
    }
  }
}

@media (min-width: 970px) {
  .body {
    .noMovie,
    .noFound {
      @apply w-max;
      @apply m-auto;
    }

    .movie {
      @apply grid;

      grid-template:
        'title title'
        'poster info'
        'poster rating' / 1fr 2fr;

      .movieHeader {
        grid-area: title;

        @apply grid;
        grid-template:
          'title nyTimes'
          'title userActions';

        @apply py-4;

        .title {
          grid-area: title;

          h2 {
            @apply text-4xl;
          }
        }

        .nyTimes {
          grid-area: nyTimes;
        }

        .userActions {
          grid-area: userActions;
        }

        .nyTimes,
        .userActions {
          @apply justify-end;
          @apply gap-4;
        }
      }

      .moviePoster {
        grid-area: poster;
      }

      .movieInfo {
        grid-area: info;
      }

      .movieRatings {
        grid-area: rating;
      }
    }
  }
}
