@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-orange-100;
}

main {
  @apply h-screen;
  @apply bg-orange-100;
  @apply text-orange-900;
}

.pageNotFound {
  @apply flex;
  @apply flex-col;
  @apply items-center;
  @apply justify-center;

  h1 {
    @apply mt-8;
    @apply font-bold;
    @apply text-4xl;
    @apply text-orange-900;
  }

  .homepageLink {
    @apply text-orange-900;
    @apply font-bold;
    @apply mt-4;
    @apply hover:underline;
  }
}